{% load static %}
<div class="fixed left-0 bottom-[50%] translate-y-[50%] w-12 z-40">
    <div id="toggleSocialsButton" class="w-12 h-12 grid place-content-center bg-gray-400 cursor-pointer">
        <svg class="w-[80%] rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right">
            <path d="m9 18 6-6-6-6"/>
        </svg>
    </div>
    <a href="https://t.me/{{settings.telegram_username}}" class="social-link bg-blue-400 h-12 grid place-content-center">
        <img class="w-[80%]" src="{% static 'imgs/telegram.png' %}" alt="">
    </a>
    <a href="https://wa.me/{{settings.whatsapp_number}}" class="social-link bg-green-500 h-12 grid place-content-center">
        <img class="w-[80%] block ml-1 fill-white" src="{% static 'imgs/whatsapp.svg' %}" alt="">
    </a>
    <a href="https://wechat.com/u/{{settings.wechat_id}}" class="social-link bg-green-400 h-12 grid place-content-center">
        <img class="w-[80%] block ml-1 fill-white" src="{% static 'imgs/wechat.svg' %}" alt="">
    </a>
</div>

<style>
    .social-link {
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 1;
        transform: translateX(0);
    }
    
    .social-link.hidden {
        opacity: 0;
        transform: translateX(-100%);
    }

    #toggleSocialsButton svg {
        transition: transform 0.3s ease;
    }

    .rotate-180 {
        transform: rotate(180deg);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', (e) => {
        const toggleSocialsButton = document.getElementById('toggleSocialsButton');
        const socialLinks = document.querySelectorAll('.social-link');

        toggleSocialsButton.addEventListener('click', () => {
            socialLinks.forEach(el => {
                el.classList.toggle('hidden');
            });
            toggleSocialsButton.querySelector('svg').classList.toggle('rotate-180');
        });
    });
</script>
