{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
</head>

<body class="px-4 pt-8 pb-8 min-h-screen bg-bottom w-screen" style="background-image: url('https://images.pexels.com/photos/3728311/pexels-photo-3728311.jpeg?auto=compress&cs=tinysrgb&w=600');">
    <!-- Topbar -->
    {% include "partials/topbar.html" %}

    <h1 class="font-bold text-3xl text-center mb-8 mt-16">Your Cart</h1>

    {% if cart %}
    <ul role="list" class="divide-y divide-gray-200">
        {% for item in cart %}
        <li class="flex border rounded-md mb-4">
            <div class="h-28 w-28 flex-shrink-0 overflow-hidden rounded-md rounded-r-none border border-gray-200">
                <img src="{{ item.product.image.url }}" alt="{{ item.name }}" class="h-full w-full ">
            </div>

            <div class="py-4 px-4 flex flex-1 flex-col">
                <div class="flex justify-between text-base font-medium text-gray-900">
                    <h3>
                        <a href="#">{{ item.product.name }} {{item.product.brand.name}} {{item.product.car_model.name}}</a>
                    </h3>
                    <p class="ml-4">${{ item.price }}</p>
                </div>
                <div class="text-sm mt-2">
                    <!-- Display selected options -->
                    {% if item.options %}
                        <div class="text-gray-600">
                            <strong>Options:</strong>
                            <ul>
                                {% for key, value in item.options.items %}
                                <li>{{ key|slice:"7:" }}: {{ value }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="flex flex-1 items-center justify-between text-sm mt-2">
                    <form action="{% url 'core:update_cart' item.product.id %}" method="post" class="flex items-center">
                        {% csrf_token %}
                        <label for="quantity_{{ product_id }}" class="sr-only">Qty</label>
                        <input type="number" name="quantity" id="quantity_{{ product_id }}" value="{{ item.quantity }}" min="1" class="input input-bordered input-sm text-center w-16">
                        <button class="btn btn-sm btn-neutral text-white ml-2" type="submit">Update</button>
                    </form>
                    <form action="{% url 'core:remove_from_cart' item.product.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-error text-white" type="submit">Remove</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center text-gray-500">Your cart is empty.</p>
    {% endif %}

    <div class="fixed w-full bottom-0 left-0 p-4 shadow-md">
        {% if cart %}
            <a class="btn btn-neutral w-full" onclick="my_modal_1.showModal()">Checkout</a>
        {% else %}
            <a class="btn btn-neutral w-full" disabled="true" onclick="my_modal_1.showModal()">Checkout</a>
        {% endif %}
    </div>


    <!-- Checkout Modal -->
    <dialog id="my_modal_1" class="modal">
        <div class="modal-box relative w-10/12">
          <h3 class="text-lg font-bold">Confirm Order</h3>
          <form method="post" action="{% url 'core:checkout' %}">
            {% csrf_token %}
            <div class="form-control mb-4">
                <label for="fullname" class="label">
                    <span class="label-text">Full Name</span>
                </label>
                <input type="text" name="fullname" id="fullname" required
                    class="input input-bordered">
            </div>
            <div class="form-control mb-4">
                <label for="address" class="label">
                    <span class="label-text">Address</span>
                </label>
                <input type="text" name="address" id="address" required
                    class="input input-bordered">
            </div>
            <div class="form-control mb-4">
                <label for="city" class="label">
                    <span class="label-text">City</span>
                </label>
                <input type="text" name="city" id="city"
                    class="input input-bordered">
            </div>
            <div class="form-control mb-4">
                <label for="phone_number" class="label">
                    <span class="label-text">Phone Number</span>
                </label>
                <input type="text" name="phone_number" id="phone_number" required
                    class="input input-bordered">
            </div>
            <button type="submit" class="btn btn-primary absolute bottom-6">
                Checkout
            </button>
        </form>
        
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button in form, it will close the modal -->
              <button class="btn">Close</button>
            </form>
          </div>
        </div>
      </dialog>
</body>

</html>
