{% extends "core/base.html" %}

{% block title %}Your Cart{% endblock %}

{% block content %}
<div class="px-6 pt-8 pb-8 min-h-screen  bg-bottom w-screen" style="background-image: url('https://images.pexels.com/photos/3728311/pexels-photo-3728311.jpeg?auto=compress&cs=tinysrgb&w=600');">

    <h1 class="font-bold text-3xl text-center mb-8 mt-8 text-white">Your Cart</h1>

    {% if cart %}
    <div role="list" class="divide-gray-200 pb-6 lg:grid lg:grid-cols-3">
        {% for item in cart %}
        <div class="flex flex-col border rounded-md mb-4">
            <div class="w-full h-48 flex-shrink-0 overflow-hidden rounded-md rounded-r-none border border-gray-200">
                <img src="{{ item.product.image.url }}" alt="{{ item.name }}" class="h-full w-full object-cover">
            </div>

            <div class="py-4 px-4 flex flex-1 flex-col">
                <div class="flex justify-between text-base font-medium text-gray-900">
                    <h3>
                        <a href="#">{{ item.product.name }} {{item.product.brand.name}} {{item.product.car_model.name}}</a>
                    </h3>
                    <p class="ml-4">${{ item.price }}</p>
                </div>
                <div class="text-sm mt-2">
                    <!-- Display selected options -->
                    {% if item.options %}
                        <div class="text-gray-600">
                            <strong class="sr-only">Options:</strong>
                            <ul class="space-y-2">
                                {% for key, value in item.options.items %}
                                <li class="badge badge-neutral">{{ key|slice:"7:" }}: {{ value }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="flex flex-1 items-center justify-between text-sm mt-2">
                    <form action="{% url 'core:update_cart' item.product.id %}" method="post" class="flex items-center">
                        {% csrf_token %}
                        <label for="quantity_{{ product_id }}" class="sr-only">Qty</label>
                        <input type="number" name="quantity" id="quantity_{{ product_id }}" value="{{ item.quantity }}" min="1" class="input input-bordered input-sm text-center w-16">
                        <button class="btn btn-sm btn-neutral text-white ml-2" type="submit">Update</button>
                    </form>
                    <form action="{% url 'core:remove_from_cart' item.product.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-error text-white" type="submit">Remove</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-500">Your cart is empty.</p>
    {% endif %}

    <div class="fixed w-full bottom-0 left-0 p-4 shadow-md">
        {% if cart %}
            <a class="btn border-0 border-none text-white bg-gradient-to-br from-orange-500 to-orange-400 w-full" onclick="my_modal_1.showModal()">Checkout</a>
        {% else %}
            <a class="btn btn-neutral w-full" disabled="true" onclick="my_modal_1.showModal()">Checkout</a>
        {% endif %}
    </div>

   <!-- Checkout Modal -->
   <dialog id="my_modal_1" class="modal">
        <div class="modal-box relative w-10/12">
            <h3 class="text-lg font-bold mb-4">Confirm Order</h3>
            <form method="post" action="{% url 'core:checkout' %}">
                {% csrf_token %}
                <div class="form-control mb-4">
                    <label for="fullname" class="sr-only">Full Name</label>
                    <input type="text" name="fullname" id="fullname" required class="input input-bordered" placeholder="Full Name">
                </div>
                <div class="form-control mb-4">
                    <label for="address" class="sr-only">Address</label>
                    <input type="text" name="address" id="address" required class="input input-bordered" placeholder="Address">
                </div>
                <div class="form-control mb-4">
                    <label for="city" class="sr-only">City</label>
                    <input type="text" name="city" id="city" class="input input-bordered" placeholder="City">
                </div>
                <div class="form-control mb-4">
                    <label for="phone_number" class="sr-only">Phone Number</label>
                    <input type="text" name="phone_number" id="phone_number" required class="input input-bordered" placeholder="Phone Number">
                </div>
                <button type="submit" class="btn bg-gradient-to-br from-orange-500 to-orange-400 border-none text-white w-full">Confirm</button>
            </form>

            <div class="mt-2">
                <form method="dialog">
                    <button class="btn w-full">Close</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
{% endblock content %}
