{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ brand.name }} - {{ model.name }} - {{ year }}{% endblock title %}

{% block content %}

<!-- Products List For Desktop -->
<section class="bg-white px-8">
    <h2 class="text-center font-bold text-3xl mb-2">Search Results</h2>
    <p class="text-center capitalize">{{brand}} {{model}}  {{year}}</p>
    <div class="grid grid-cols-4">
        {% for product in products %}
        <div class="shadow-md max-w-2xl p-3 rounded-lg dark:bg-gray-600 dark:text-gray-200 mx-auto">
            <div class="bg-green-200 overflow-hidden h-44 rounded-lg flex justify-center items-center text-gray-700">
                <img class="object-cover" src="{{product.image.url}}" alt="">
            </div>
            <h1 class="text-xl sm:text-2xl font-semibold p-3">{{product.name}}</h1>
                <a href="/product/{{product.id}}" class="btn btn-accent text-white w-full">View Details</a>
          </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}